@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap");

* {
    padding: 0;
    margin: 0;
}

.moderustic {
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
}

.dark {
    color: white;
    background-color: #0b0f14;
}

.darkside ul li span {
    color: white;
    font-weight: bold;
}

.lightnav {
    background-color: #f3f4f698;
    backdrop-filter: blur(10px);
}

.darknav {
    background-color: #111827a1;
    backdrop-filter: blur(10px);
}

@media screen and (max-width: 400px) {
    .bb {
        width: 70%;
    }
}
