@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap");

* {
    padding: 0;
    margin: 0;
}

.moderustic {
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
}

.dark {
    color: white;
    background-color: #0b0f14;
}

.darkside ul li span {
    color: white;
    font-weight: bold;
}

.lightnav {
    background-color: #f3f4f698;
    backdrop-filter: blur(10px);
}

.darknav {
    background-color: #111827a1;
    backdrop-filter: blur(10px);
}

.btn {
    padding: 10px 15px;
    border-radius: 10px;
}

.pulse {
    animation: pulse 1s infinite ease-in-out alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.8);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(1%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.slide-in {
    animation: slideIn 0.3s ease-in-out forwards;
}

.slide-out {
    animation: slideOut 0.3s ease-in-out forwards;
}

@media screen and (max-width: 400px) {
    .bb {
        width: 70%;
    }
}
